@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root
{
/* Variables de color parausar  */
    --white: #fff;
    --green: #00ff88;
    --green-light: #00acaf;
    --black: #131313;
    --grey: hsl(220, 25%, 50%);
}

*
{
/* Reset de estilos */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: "Poppins", sans-serif;
    /* estilo dwe fuente y alternativo*/
}

main
{
    padding: 20px;
}

a
{
    text-decoration: none;
}

ul
{
    list-style: none;
}

.header
{
    background-color: var(--green);
    box-shadow: 1px 1px 5px 0px var(--grey);
    position: sticky;
    /* sticky para que se quede fijo en la parte superior */
    top: 0;
    width: 100%;
}

.logo
{
    display: inline-block;
    /* para que el logo se quede en la misma linea */
    color: var(--white);
    font-size: 60px;
    margin-left: 10px;
}

.nav
{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--green);
    overflow: hidden;
    /* olcultael desbordamiento */
    max-height: 0;
    /*altura maxima de 0 para que no se vea el menu */
    transition: max-height .5s ease-out;
    /*transicion para que se vea el menu  con atributo ease-out para que la animacion sea mas suave */
}

.menu a
{
    display: block;
    padding: 30px;
    color: var(--white);
}

.menu a:hover
{
    background-color: var(--green-light);
}

.hamb
{
    cursor: pointer;
    /* cursor de la mano para que se vea que es un boton */
    float: right;
    /* para que se quede a la derecha */
    padding: 40px 20px;
    /* padding para que el boton sea mas grande */
}


.hamb-line 
{
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    
}

.hamb-line::before,
.hamb-line::after
{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before
{
    top: 5px;
}

.hamb-line::after
{
    top: -5px;
}

.side-menu 
{
    display: none;
}

.side-menu:checked ~ nav
{
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line 
{
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before 
{
    transform: rotate(-45deg);
    top:0;
}

.side-menu:checked ~ .hamb .hamb-line::after 
{
    transform: rotate(45deg);
    top:0;
}

@media (min-width: 768px)
{
    .nav
    {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }

    .menu li
    {
        float: left;
    }

    .menu a:hover
    {
        background-color: transparent;
        color: var(--green-light)
    }

    .hamb
    {
        display: none;
    }
}